.learn_more{
    display: flex;
    align-items: center;
    justify-content: left;
}
.learn_more_link{
    font-size: 18px;
    font-weight: 600;
    color: #159EEC;
    text-transform: capitalize;
    padding: 15px 30px;
    background: #BFD2F8;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.learn_more_icon{
    font-size: 18px;
    color: #1F2B6C;
    margin-left: 10px;
}