.appointment_booking_shudule_time-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.appointment_booking_shudule_day{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
}
.appointment_booking_shudule_time{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}