.doctorprofile_contant_wrapper{
    width: 400px;
    cursor: pointer;
}
.doctorprofile_contant_box{
    background: #BFD2F8;
    padding: 24px 0;
}
.doctorprofile_image_box{
    width: 100%;
    height: 450px;
    overflow: hidden;
}
.doctorprofile_image_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.doctorprofile_icon_flex{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    margin-top: 16px;
}
.doctorprofile_icon_box{
    width: 24px;
    height: 24px;
    background: #1F2B6C;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.doctorprofile_icon{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.doctorprofile_btn_box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.doctorprofile_btn{
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    color: #BFD2F8;
    background: #1F2B6C;
    padding: 12px 0;
    cursor: pointer;
}