#ourdoctor{
    padding: 64px 0;
    background: #fff;
}
.ourdoctor_contant_wrapper{
    text-align: center;
}
.ourdoctor_heading_contant_box{
    text-align: center;
}
.ourdoctor_contant_nenohead{
    font-size: 20px;
    font-weight: 600;
    color: #159EEC;
    text-transform: uppercase;
    list-style: 140%;
    margin-bottom: 8px;
}
.ourdoctor_contant_heading{
    font-size: 35px;
    font-weight: 600;
    color: #1F2B6C;
    text-transform: uppercase;
    list-style: 140%;
    margin-bottom: 15px; 
}
.ourdoctor_card_box_flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 21px;
    margin-top: 64px;
}
.ourdoctor_card_pera{
    font-size: 20px;
    font-weight: 400;
    color: #1F2B6C;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.ourdoctor_card_head{
    font-size: 20px;
    font-weight: 600;
    color: #1F2B6C;
    text-transform: uppercase;
    letter-spacing: 2px;
}