#navbar{
    background: #1F2B6C;
    padding: 17px 0;
}
.navbar_wrapper_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_menu_box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar_link_box_flex{
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 60px;
}
.navbar_link_box_flex li a{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
}
.navbar_btn_box{
    display: flex;
    justify-content: right;
    align-items: center;
    column-gap: 30px;
}
.navbar_search_icon{
    font-size: 28px;
    font-weight: 600;
    color: #fff;
}
.navbar_btn_box a{
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 700;
    color: #1F2B6C;
    text-transform: capitalize;
    cursor: pointer;
    background: #BFD2F8;
    border-radius: 30px;
}