#appointmentbaners{
    width: 100%;
    height: 400px;
    position: relative;
}
#appointmentbaners::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #BFD2F8;
    left: 0;
    top: 0;
    opacity: 0.5;
    z-index: 11;
}
#appointmentbaners img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#appointmentbaners .container{
    position: relative;
    z-index: 111;
    top: -300px;
}
.appointmentbaners_contant_wrapper{
    width: 100%;
    height: 100%;
    text-align: left;
}
.appointmentbaners_contant_nanohead{
    font-size: 16px;
    font-weight: 600;
    color: #1F2B6C;
    text-transform: capitalize;
    line-height: 140%;
}
.appointmentbaners_contant_head{
    width: 519px;
    font-size: 48px;
    font-weight: 700;
    color: #1F2B6C;
    line-height: 150%;
}